/*body {
}

.progress {
    width: 150px;
    height: 20px;
    background-color: #333;
    border: 1px solid black;
}

.progress-inner {
    background-color: #f7f;
    width: 0%;
    height: 100%;
}
*/

/*.progress-bar {
    background-color: #0094ff;
    width: 0%;
    height: 100%;
}*/

body {
}

.btn{
    height: 50px;
}

#accordion {
    width: 100%;
}