@page
@model WebApplication2.Pages.Create_ProjectModel
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
</head>

<div class="form">
    <form method="post">
        <label>Student Number: </label>
        <input type="text" /><br><br>
        <label>Insert Task: </label>
        <input type="text" />
        <button>Add</button>
        <br><br>
        <label>Type of Project: </label>
        <input type="file" /><br><br>
        <input class="btn btn-primary" type="submit" value="Submit"><br><br>
    </form>
    <br>
    <br>
</div>